src/main/resources/application-local.yaml
embabel-agent-api/src/main/resources/mcp/**
/build/**
/target/**
*/target/**
*/*/target/**
*/*/*/target/**
/.gradle/**
/.gradle/**/gc.properties
/.gradle/**/*.bin
.idea/**

.claude

**/*.log